// Placeholder to allow defining custom styles that override everything else.

/* Tablets (768px and below) */
@media only screen and (max-width: 768px) {
    /* Your CSS styles for tablets */
    body {
        background-color: #f9ffff;
    }
    .container {
        padding: 10px;
    }
    .home {
        .sidebar {
            margin-top: $spacing-unit * 1.3;
        }
    }
}

/* Smartphones in Landscape (576px and below) */
@media only screen and (max-width: 576px) {
    /* Your CSS styles for smartphones in landscape */
    body {
        background-color: #fffff9;
    }
    .container {
        padding: 6px 18px;
    }
}

/* Smartphones in Portrait (480px and below) */
@media only screen and (max-width: 480px) {
    /* Your CSS styles for smartphones in portrait */
    body {
        background-color: #fff9ff;
    }
    .container {
        margin-top: 0px!important;
    }
}

/* gallery */
.gallery-img {
    cursor: pointer;
}

.gallery {
    img {
        max-width: 100px;
    }
}

/* sidebar post list */
.sidebar {
    .list-group li {
        background-color: $background-color-recents-sidebar;
        text-align: left;
    } 
}

/* custom navbar */
.custom-container {
    display: flex;
    justify-content: flex-start!important;
}
