 <!-- Footer -->
 <footer class="text-center">
    <div class="container">
        <p>&copy; 2024 {{ site.title }}. All Rights Reserved.</p>
        <div class="footer-links">
            <a href="/#features">About</a>
            <a href="/#gallery">Gallery</a>
            <a href="/#register">Register</a>
            <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}" target="_blank">
                <svg class="svg-icon orange">
                  <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                </svg><span>Subscribe</span>
            </a>
        </div>
        <span class="tagline">{% t global.tagline %}</span>
    </div>
</footer>