 <!-- Footer -->
 <footer class="text-center">
    <div class="container">
        <p>&copy; 2024 {{ site.title }} {% t global.tagline %}. {% t pages.footrights %}</p>
        <div class="footer-links">
            {% if site.pages.size > 1 %}
                {% for page in site.pages %}
                {% if page.title != "Home" and page.title != "NotFound" and page.title.size > 0 %}
                    {% unless page.url contains "page2" or page.url contains "page3" %}
                    <a class="post-title" href="{{ site.baseurl }}{{ page.url }}">
                    {{ page.title }} - {{ site.lang }}
                    </a>
                    {% endunless %}
                {% endif %}
                {% endfor %}
            {% endif %}
            <a href="/#features">{% t pages.hwhy %}</a>
            <a href="/#gallery">{% t pages.hgallery %}</a>
            <a href="/#register">{% t pages.hregitert %}</a>

            {% if site.lang == site.default_lang and site.default_locale_in_subfolder != true %}
                <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}" target="_blank">
                    <svg class="svg-icon orange">
                    <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                    </svg><span>{% t pages.footrsssub %}</span>
                </a>
            {% else %}
                <a href="{{ 'feed.xml' }}" target="_blank">
                    <svg class="svg-icon orange">
                    <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                    </svg><span>{% t pages.footrsssub %}</span>
                </a>
            {% endif %}
            
        </div>
    </div>
</footer>